/** We want the admin toolbar to be on top of our overlay when it's
horizontal. */
.toolbar-horizontal #toolbar-administration {
  z-index: 520;
}

/** Hide the messages if we have JS support */
.js #better-messages-default.better-messages-overlay {
  display: none;
}

#better-messages-default.better-messages-overlay {
  z-index: 510;
  position: absolute;
  background: #ffffff;
  padding: 1em;
  -webkit-box-shadow: 0 2px 10px #000000;
  -moz-box-shadow: 0 2px 10px #000000;
  box-shadow: 0 2px 10px #000000;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

#better-messages-default.better-messages-overlay.better-messages-position-fixed {
  position: fixed;
}

#better-messages-default.better-messages-overlay .better-messages-footer {
  border-top: 1px solid #dddddd;
  margin-top: 10px;
  padding-top: 5px;
  text-align: right;
}

#better-messages-default.better-messages-overlay .better-messages-close {
  display: block;
  float: right;
  color: #676767;
  text-transform: uppercase;
}

#better-messages-default.better-messages-overlay .better-messages-close span {
  background: transparent url(../images/closelabel.gif) no-repeat;
  display: block;
  float: right;
  height: 22px;
  width: 22px;
}

#better-messages-default.better-messages-overlay .better-messages-timer {
  float: left;
  line-height: 22px;
}
